<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djk.core.mapper.CrawlMetadataWebsiteConfigMapper">
  <resultMap id="BaseResultMap" type="com.djk.core.model.CrawlMetadataWebsiteConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="host_code" jdbcType="VARCHAR" property="hostCode" />
    <result column="time_point" jdbcType="BIGINT" property="timePoint" />
    <result column="expire_time" jdbcType="BIGINT" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.djk.core.model.CrawlMetadataWebsiteConfig">
    <result column="token" jdbcType="LONGVARCHAR" property="token" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, host_name, host_code, time_point, expire_time, create_time, update_time, account_name
  </sql>
  <sql id="Blob_Column_List">
    token
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfigExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawl_metadata_website_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crawl_metadata_website_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawl_metadata_website_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crawl_metadata_website_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfigExample">
    delete from crawl_metadata_website_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfig">
    insert into crawl_metadata_website_config (id, host_name, host_code, 
      time_point, expire_time, create_time, 
      update_time, account_name, token
      )
    values (#{id,jdbcType=BIGINT}, #{hostName,jdbcType=VARCHAR}, #{hostCode,jdbcType=VARCHAR}, 
      #{timePoint,jdbcType=BIGINT}, #{expireTime,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{accountName,jdbcType=VARCHAR}, #{token,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfig">
    insert into crawl_metadata_website_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hostName != null">
        host_name,
      </if>
      <if test="hostCode != null">
        host_code,
      </if>
      <if test="timePoint != null">
        time_point,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="token != null">
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="hostCode != null">
        #{hostCode,jdbcType=VARCHAR},
      </if>
      <if test="timePoint != null">
        #{timePoint,jdbcType=BIGINT},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfigExample" resultType="java.lang.Long">
    select count(*) from crawl_metadata_website_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update crawl_metadata_website_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.hostName != null">
        host_name = #{record.hostName,jdbcType=VARCHAR},
      </if>
      <if test="record.hostCode != null">
        host_code = #{record.hostCode,jdbcType=VARCHAR},
      </if>
      <if test="record.timePoint != null">
        time_point = #{record.timePoint,jdbcType=BIGINT},
      </if>
      <if test="record.expireTime != null">
        expire_time = #{record.expireTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accountName != null">
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update crawl_metadata_website_config
    set id = #{record.id,jdbcType=BIGINT},
      host_name = #{record.hostName,jdbcType=VARCHAR},
      host_code = #{record.hostCode,jdbcType=VARCHAR},
      time_point = #{record.timePoint,jdbcType=BIGINT},
      expire_time = #{record.expireTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update crawl_metadata_website_config
    set id = #{record.id,jdbcType=BIGINT},
      host_name = #{record.hostName,jdbcType=VARCHAR},
      host_code = #{record.hostCode,jdbcType=VARCHAR},
      time_point = #{record.timePoint,jdbcType=BIGINT},
      expire_time = #{record.expireTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      account_name = #{record.accountName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfig">
    update crawl_metadata_website_config
    <set>
      <if test="hostName != null">
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="hostCode != null">
        host_code = #{hostCode,jdbcType=VARCHAR},
      </if>
      <if test="timePoint != null">
        time_point = #{timePoint,jdbcType=BIGINT},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfig">
    update crawl_metadata_website_config
    set host_name = #{hostName,jdbcType=VARCHAR},
      host_code = #{hostCode,jdbcType=VARCHAR},
      time_point = #{timePoint,jdbcType=BIGINT},
      expire_time = #{expireTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account_name = #{accountName,jdbcType=VARCHAR},
      token = #{token,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djk.core.model.CrawlMetadataWebsiteConfig">
    update crawl_metadata_website_config
    set host_name = #{hostName,jdbcType=VARCHAR},
      host_code = #{hostCode,jdbcType=VARCHAR},
      time_point = #{timePoint,jdbcType=BIGINT},
      expire_time = #{expireTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account_name = #{accountName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into crawl_metadata_website_config  (id, host_name, host_code, 
        time_point, expire_time, create_time, 
        update_time, account_name, token
        )
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.hostName,jdbcType=VARCHAR}, #{item.hostCode,jdbcType=VARCHAR}, 
        #{item.timePoint,jdbcType=BIGINT}, #{item.expireTime,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.accountName,jdbcType=VARCHAR}, #{item.token,jdbcType=LONGVARCHAR}
        )
      </foreach>
    </if>
  </insert>
</mapper>